@import "./public/fonts/fontawesome-webfont.eot";
@value primary: #bf4040;
*,
body {
  margin: 0;
  padding: 0;
}
html {
  background: red;
}

.div {
  width: 100px;
}

:local .className .subClass {
  color: green;
}

:local(.className .subClass) :global(.global-class-name) {
  color: blue;
}

:global .dsx .dd :local .gwj {
  color: yellow;
}

.className {
  background: red;
  color: yellow;
}

.dsxc {
}

.subClass {
  composes: dsxc;
  background: blue;
}

.continueButton {
  /* composes: button from "./button.css"; */
  background: red;
  color: primary;
}
